@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor-textos: #fff;
    --cor-cabecalho: #D71922;
    --cor-rodape: #000;
    --cor-hover: #D71922;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    background-image: url(imagens/background_image.jpg);
    background-attachment: fixed;
    font-family:"Bebas Neue", serif;
}

.cabecalho{
    background-color:var(--cor-cabecalho);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__titulo{
    color:var(--cor-textos);
    font-size: 2.37rem;
    padding-left: 40px;
}

.cabecalho__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-right: 130px;
}

.cabecalho__menu__link{
    font-size: 1.62rem;
    text-decoration: none;
    color: var(--cor-textos);
}

.series{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding:50px;
    gap: 50px;
    width: 90%;
}

a:hover{
    background-color: var(--cor-hover);
}

.rodape__paragrafo{
    text-align: center;
    color: var(--cor-textos);
    background-color: var(--cor-rodape);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.12rem;
    padding: 14px;
}

@media (max-width:400px){
    .series{
        flex-direction: column;
    }
}